$freesans: 14px/16px "freesans", Arial, "Helvetica Neue", Helvetica, sans-serif;
$freesansbold: bold 36px/46px "freesansbold", Arial, "Helvetica Neue", Helvetica, sans-serif;

$tablet-width: 700px;//changed from 768
$laptop-width: 1024px;
$desktop-width: 1440px;
$fourk-width: 1920px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$laptop-width - 1px}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// @mixin fourk {
//   @media (min-width: #{$fourk-width}) {
//     @content;
//   }
// }

@mixin greater_than_tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin greater_than_laptop {
  @media (min-width: #{$laptop-width}) {
    @content;
  }
}

body {
  max-width: 1920px;
  margin: 0 0;
  font: $freesans;

  // @include fourk {
  //   margin: 0 auto;
  // }
}

a {
  border-bottom: 1px solid black;
}

*::selection {
  background: white;
}

.title-text {
  font: $freesansbold;
  text-align: right;
  margin: 85px 0 0;
  width: 100vw;

  @include greater_than_tablet {
    font-size: 86px;
    line-height: 115px;
    text-align: right;
  }

  @include desktop {
    font-size: 120px;
    line-height: 165px;
  }

  & li {
    width: 280px;
    margin: 0 auto;
    display: block;

    @include tablet {
      width: 630px;
    }

    @include laptop {
      width: 800px;
    }

    @include desktop {
      width: 1200px;
    }
  }
}

.block {
  position: absolute;
  width: 75vw;
  height: -webkit-calc(100vh - 122px);
  height: calc(100vh - 122px);
  // bottom: 0;
  top: 122px;
  left: 0;
  background-color: #7EE8FB;

  @include greater_than_tablet {
    top: 200px;
    height: calc(100vh - 200px);
  }

  @include desktop {
    top: 225px;
    height: calc(100vh - 225px);
  }
}

.home-block {
  z-index: -1;
  position: fixed;
  background-color: #FBEF7E;
}

.syllabus-block {
  z-index: -1;
  position: fixed;
  background-color: #FB7E7E;
}

.content-wrapper {
  background-color: #fb7e7d;
  box-sizing: border-box;
  width: 75vw;
  margin: -10px 0;
  padding: 20px 20px;

  @include tablet {
    padding: 40px 40px;
  }

  @include laptop {
    padding: 40px 25px;
  }

  @include desktop {
    margin: -25px 0;
    padding: 60px 40px;
  }
}

.overflow-hidden {
  overflow: hidden;
}
//the code highlighter
// .highlighter-rouge {
//   margin: 40px 0;
// }