.header-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.header-hamburger {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin: 22px 0 0 25px;
  border: none;
  cursor: pointer;

  @include tablet {
    margin: 30px 0 0 33px;
  }

  @include laptop {
    margin: 40px 0 0 43px;
  }

  @include desktop {
    margin: 55px 0 0 60px;
  }
}

.menu-wrapper {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 0px;
  overflow: hidden;
  transition: max-width .5s ease-in-out;

  & a {
    border-bottom: none;
  }

  & ul {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.menu__open {
  max-width: 600px;

  @include greater_than_tablet {
    max-width: 1200px;
  }

  @include desktop {
    max-width: 2000px;
  }
}

.header-footer {
  position: absolute;
  bottom: 15px;
  left: 20px;
  width: 100vw;
}